@import "./App.css";
@import "./styles/home.css";

@import "./styles/modal.css";

body {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.3rem;
  font-size: 11pt;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.bg-primary {
  background-color: #0d6ae4;
}

.opacity-50 {
  opacity: 0.5;
}

.btn {
  border: 1px none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #0d6ae4;
  color: white;
}

.btn-primary:hover {
  color: #f9f7f4;
}

.link-button {
  text-decoration: none;
  color: #0d6ae4;
}

.link-button:hover {
  color: #0f5bc0;
}

.link-button:disabled {
  color: lightgray;
}

.text-input {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  color: #333;
  font-size: 1rem;
}

.text-input-sm {
  width: 40%;
}

.text-input-md {
  width: 50%;
}

.text-input:focus {
  outline-color: #0d6ae4;
}

.d-none {
  display: none;
}

.text-muted {
  color: #54585d;
}
