@import "./App.css";
@import "./styles/home.css";

@import "./styles/spacing.css";
@import "./styles/sizing.css";
@import "./styles/modal.css";
@import "./styles/form.css";
@import "./styles/layout.css";

@import "./styles/Navbar.css";

*,
*:before,
*:after,
*::before,
*::after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

p {
  line-height: 1.3rem;
  font-size: 11pt;
}

a {
  text-decoration: none;
  color: black;
}

.bg-primary {
  background-color: #0d6ae4;
}

.opacity-50 {
  opacity: 0.5;
}

.btn {
  border: 1px none;
  border-radius: 0.25rem;
  /* padding: 0.75rem 1rem; */
  padding: 10px 15px;
  font-size: 1rem;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #0d6ae4;
  color: white;
}

.btn-primary:hover {
  color: #f9f7f4;
}

.link-button {
  text-decoration: none;
  color: #0d6ae4;
}

.link-button:hover {
  color: #0f5bc0;
}

.link-button:disabled {
  color: lightgray;
}

.text-input {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  /* padding: 0.75rem 1rem; */
  padding: 10px 15px;
  color: #333;
  font-size: 1rem;
}

.text-input-sm {
  width: 40%;
}

.text-input-md {
  width: 50%;
}

.text-input-lg {
  width: 100%;
}

.text-input:focus {
  outline-color: #0d6ae4;
}

.d-none {
  display: none;
}

.text-muted {
  color: #54585d;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
