.form {
  width: 100%;
  padding: 8px 16px 8px 16px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.form-control {
  width: 100%;
}

.form-check-input {
  margin-left: 0;
}

.form-check-label {
  margin-left: 8px;
}

.form-check {
  display: flex;
  flex-direction: row;
}
